# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/workspace/home

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [12]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [18]:
# TO-DO: Create a Keyspace 
# Create a keyspace for our project
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkify
    WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }
    """)
except Exception as e:
    print(f"Error executing query: {e}")

#### Set Keyspace

In [21]:
# TO-DO: Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(f"Error executing query: {e}")

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [22]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4
# Query 1: Create table to store song information for a specific session and item in session

query = """
CREATE TABLE IF NOT EXISTS songplays_by_session_item (
    sessionId int,
    itemInSession int,
    artist varchar,
    song varchar,
    length float,
    PRIMARY KEY (sessionId, itemInSession)
)
"""
try:
    session.execute(query)
except Exception as e:
    print(f"Error executing query: {e}")

In [23]:
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = "INSERT INTO songplays_by_session_item (sessionId, itemInSession, artist, song, length)"
        query = query + "VALUES(%s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (int(line[8]), int(line[3]), line[0], line[9], float(line[5])))

#### Do a SELECT to verify that the data have been inserted into each table

In [24]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table

# query to verify the data insertion for a specific sessionId and itemInSession
query = """
SELECT artist, song, length 
FROM songplays_by_session_item 
WHERE sessionId = 338 AND itemInSession = 4
"""

try:
    rows = session.execute(query)
except Exception as e:
    print(f"Error executing query: {e}")
else:
    for row in rows:
        print(f"Artist: {row.artist}, Song: {row.song}, Length: {row.length}")

Artist: Faithless, Song: Music Matters (Mark Knight Dub), Length: 495.30731201171875

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [25]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

# create a table to store song plays by user and session, sorted by itemInSession
query = """
CREATE TABLE IF NOT EXISTS songplays_by_user_session (
    userId int,
    sessionId int,
    itemInSession int,
    artist varchar,
    song varchar,
    firstName varchar,
    lastName varchar,
    PRIMARY KEY ((userId, sessionId), itemInSession)
)
"""

try:
    session.execute(query)
except Exception as e:
    print(f"Error executing query: {e}")

In [26]:
# insert data

file = 'event_datafile_new.csv'

with open(file, encoding='utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader)  # Skip header
    for line in csvreader:
        query = """
        INSERT INTO songplays_by_user_session (userId, sessionId, itemInSession, artist, song, firstName, lastName)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
        """
        
        session.execute(query, (
            int(line[10]),   # userId
            int(line[8]),    # sessionId
            int(line[3]),    # itemInSession
            line[0],         # artist
            line[9],         # song
            line[1],         # firstName
            line[4]          # lastName
        ))

In [27]:
# Query to verify the data retrieval for userId = 10 and sessionId = 182
query = """
SELECT artist, song, firstName, lastName 
FROM songplays_by_user_session 
WHERE userId = 10 AND sessionId = 182
ORDER BY itemInSession
"""

try:
    rows = session.execute(query)
except Exception as e:
    print(f"Error executing query: {e}")
else:
    for row in rows:
        print(f"Artist: {row.artist}, Song: {row.song}, User: {row.firstname} {row.lastname}")

Artist: Down To The Bone, Song: Keep On Keepin' On, User: Sylvie Cruz
Artist: Three Drives, Song: Greece 2000, User: Sylvie Cruz
Artist: Sebastien Tellier, Song: Kilometer, User: Sylvie Cruz
Artist: Lonnie Gordon, Song: Catch You Baby (Steve Pitron & Max Sanna Radio Edit), User: Sylvie Cruz

In [28]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

# Query 3: Create a table to store users by the song title they listened to
query = """
CREATE TABLE IF NOT EXISTS users_by_song (
    song varchar,
    userId int,
    firstName varchar,
    lastName varchar,
    PRIMARY KEY (song, userId)
)
"""

try:
    session.execute(query)
except Exception as e:
    print(f"Error creating table: {e}")

In [29]:
# insert data 
file = 'event_datafile_new.csv'

with open(file, encoding='utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader)  # Skip header
    for line in csvreader:
        query = """
        INSERT INTO users_by_song (song, userId, firstName, lastName)
        VALUES (%s, %s, %s, %s)
        """
        
        session.execute(query, (
            line[9],         # song
            int(line[10]),   # userId
            line[1],         # firstName
            line[4]          # lastName
        ))

In [30]:
# Query to retrieve users who listened to 'All Hands Against His Own'
query = """
SELECT firstName, lastName 
FROM users_by_song 
WHERE song = 'All Hands Against His Own'
"""

try:
    rows = session.execute(query)
except Exception as e:
    print(f"Error executing query: {e}")
else:
    for row in rows:
        print(f"User: {row.firstname} {row.lastname}")

User: Jacqueline Lynch
User: Tegan Levine
User: Sara Johnson

### Drop the tables before closing out the sessions

In [31]:
## TO-DO: Drop the table before closing out the sessions

In [32]:
# Drop each table in the keyspace before closing the session
table_drop_queries = [
    "DROP TABLE IF EXISTS songplays_by_session_item",
    "DROP TABLE IF EXISTS songplays_by_user_session",
    "DROP TABLE IF EXISTS users_by_song"
]

for query in table_drop_queries:
    try:
        session.execute(query)
    except Exception as e:
        print(f"Error dropping table: {e}")
    else:
        print(f"Successfully dropped table: {query.split()[-1]}")

Successfully dropped table: songplays_by_session_item
Successfully dropped table: songplays_by_user_session
Successfully dropped table: users_by_song

### Close the session and cluster connection¶

In [33]:
session.shutdown()
cluster.shutdown()